<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @challenge.post_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @challenge.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @challenge.subcategory %>
</p>

<p>
  <strong>End date:</strong>
  <%= @challenge.end_date %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
